.card {
  border: 1px solid $color-shaded-black;
  min-height: 10em;
  width: 23.3em;
  text-align: center;

  &__img {
    width: 100%;
  }

  .link-on-black {
    color: $color-shaded-black;
  }
}

.card__img-container {
   height: 15em;
   overflow: hidden;
   border-radius: 3px;
  }
  
  .card__text-container {
    color: $color-shaded-black;
}

@media only screen and (max-width: 720px) {
 .card {
  margin-top: 2em;
 }
}