
.header-inner-wrapper {
  padding: 0;
  position: absolute;
  border: 1px solid black;
  top: 1em;
  right: 1em;
  margin-top: 1.5em;
  width: 100%;
}

.header-logo {
  float: left;
  margin-left: 4em;
  transform: scale(0.6);
}
.header-ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;

  li {
    float: right;
  }

  .header-NavLink {
    color: $color-white;
    border-bottom: .2rem solid transparent;
    display: block;
    padding: 0 3rem;
    text-align: center;
    text-decoration: none;
  }

  .header-NavLink:hover {
    border-bottom: .2rem solid $color-red;
  }

}
