.report-container {
    background-image: linear-gradient(to right, white, grey);
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;

  &__header {
    font-size: 1.5rem;
    font-weight: 700;
    display: inline-block;
    transform: scale(1.6);
    letter-spacing: 2px;
    margin-bottom: 2em;
    color: $color-shaded-black;
  }
}
